{
    "printWidth": 94,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": false,
    "insertPragma": false,
    "requirePragma": false,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false
}
